[Desktop Entry]
Name=PhpStorm
Exec=sh -c "docker run --rm -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix -v ~/.PhpStorm2018.2:/home/developer/.PhpStorm2018.2 -v ~/Projects:/workspace iainmckay/phpstorm:2018.2-php7"
Icon=phpstorm
Terminal=false
Type=Application
StartupNotify=true
